html {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

body {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  font-family: "Times New Roman";
  overflow: hidden;
}

form {
  overflow: auto;
}

input,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

#root {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}
