.property-template {
  display: grid;
  grid-template-columns: minmax(auto, 300px) minmax(100px, 1fr);
  width: 100%;
  grid-template-rows: 40px;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .property-template {
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: auto auto;
  }
}

.form-control {
  font-weight: 500 !important;
  &:focus {
    box-shadow: none !important;
  }
}
